.header {
  background-color: var(--main-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child),
.header-contacts li:first-child {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--main-text-color);
}

.header-common:focus,
.header-common:hover {
  color: var(--accent-color);
}

.header-common {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-btn-color);
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
  border-radius: 2px;
}

.header-link-active {
  color: var(--accent-color);
  position: relative;
}

.header-mail,
.header-phone {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 93px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}
