.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

.logo-left {
  color: var(--accent-color);
}

.logo-right-dark {
  color: var(--main-text-color);
}

.logo-right-light {
  color: var(--alternative-text-color);
}
